#backgroundVideo {
    position: fixed;
    left: 0;
    top: 0;
    /*https://www.w3schools.com/csS/css3_object-fit.asp*/
    object-fit: cover;
}

.contenido {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}

.firma {
    font-size: 10px;
}

body {
    font-family: "Open Sans Condensed";
    font-style: normal;
}
